<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程简介卡片</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="course-intro-pane">
    <div class="left">
        <img class="course-fm" src="../../assets/images/course_img.png" alt="">
    </div>
    <div class="right">
        <h3 class="course-title">极系列-H5课程</h3>
        <p class="comment-message">评分: 4.16667 分&emsp;&emsp;评价人数: 12 人</p>
        <p class="teacher-name">讲师: 神雕</p>
        <a class="get-course" href="#">立即学习</a>
    </div>
</div>
</body>
</html>