<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01-首页导航栏</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="nav-bar">
    <div class="content bx">
        <div class="top">
            <div class="left">
                <h1 class="logo">
                    <a href="#">撩学堂</a>
                </h1>
            </div>
            <div class="center">
                <form action="">
                    <div class="search-bar">
                        <div class="category">
                            <label>
                                <select name="category">
                                    <option value="all">全部</option>
                                    <option value="course">课程</option>
                                    <option value="teacher">讲师</option>
                                    <option value="article">文章</option>
                                </select>
                            </label>
                        </div>
                        <div class="keyword">
                            <label>
                                <input type="text" placeholder="请输入搜索关键字" name="kw">
                            </label>
                        </div>
                        <div class="submit-btn">
                            <label>
                                <input type="submit" value="&#xe662;&nbsp;&nbsp;搜索" class="iconfont">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="right">

            </div>
        </div>
        <div class="bottom">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </div>
</div>
</body>
</html>