<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01-首页导航栏</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body{
            /*临时添加的样式*/
            background-color: #eee;
        }
    </style>
</head>
<body>
<div id="nav-bar">
    <div class="content bx">
        <div class="top">
            <div class="left">
                <h1 class="logo">
                    <a href="#">撩学堂</a>
                </h1>
            </div>
            <div class="center">
                <form action="">
                    <div class="search-bar">
                        <div class="category">
                            <label>
                                <select name="category">
                                    <option value="all">全部</option>
                                    <option value="course">课程</option>
                                    <option value="teacher">讲师</option>
                                    <option value="article">文章</option>
                                </select>
                            </label>
                        </div>
                        <div class="keyword">
                            <label>
                                <input type="text" placeholder="请输入搜索关键字" name="kw">
                            </label>
                        </div>
                        <div class="submit-btn">
                            <label>
                                <input type="submit" value="&#xe662;&nbsp;&nbsp;搜索" class="iconfont">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="intro">
                    <div class="user">
                        <span class="nickname">用户昵称:sz</span>
                        <img class="header" src="../../assets/images/header.png" alt="">
                    </div>
                    <div class="operation-pane">
                        <ul class="operation">
                            <li><a href="#">撩课学院 - itlike.com</a></li>
                            <li>我的学习</li>
                            <li>设置</li>
                            <li class="exit">推出</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <ul class="menu">
                    <li class="current"><a href="#">首页</a></li>
                    <li><a href="#">讲师</a></li>
                    <li><a href="#">课程</a></li>
                    <li><a href="#">文章</a></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li class="iconfont icon-liwu">
                        关注领取福利
                        <div class="ad-pane">
                            <div class="title">关注撩课公众号</div>
                            <div class="sub-title">- 领取课程免费福利,超值学习资料 -</div>
                            <img class="ewm" src="../../assets/images/ewm_lk.jpg" alt="">
                        </div>
                    </li>
                    <li class="iconfont icon-weixinxiaochengxu">
                        微信小程序
                        <div class="ad-pane">
                            <div class="title">撩课-小程序</div>
                            <div class="sub-title">- 关注关注 -</div>
                            <img class="ewm" src="../../assets/images/ewm_lk.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>