<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻卡片</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="news-card">
    <ul>
        <li>
            <a href="">撩课学院-机系列课程</a>
            <span>2022年9月22日 12:12:00</span>
        </li>
        <li>
            <a href="">撩课学院-机系列课程</a>
            <span>2022年9月22日 12:12:00</span>
        </li>
        <li>
            <a href="">撩课学院-机系列课程</a>
            <span>2022年9月22日 12:12:00</span>
        </li>
        <li>
            <a href="">撩课学院-机系列课程</a>
            <span>2022年9月22日 12:12:00</span>
        </li>
        <li>
            <a href="">撩课学院-机系列课程</a>
            <span>2022年9月22日 12:12:00</span>
        </li>
    </ul>
</div>
</body>
</html>