<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-底部组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="footer">
    <div class="content bx">
        <div class="left">
            <p class="intro">撩课云课堂 是掘智公司（itlike.com）旗下专注职业技能提升的在线学习平台。</p>
            <ul class="friend-link">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">撩课论坛</a></li>
            </ul>
            <p class="ban">©2018-2020 课程内容版权均归 撩课教育 所有 沪ICP备18036896号</p>
        </div>
        <div class="right">
            <div class="ad-image">
                <div class="left-ad">
                    <div class="ewm-pane">
                        <img src="../../assets/images/ewm_lk.jpg" alt="">
                    </div>
                </div>
                <div class="right-ad">
                    <div class="ewm-pane">
                        <img src="../../assets/images/ewm_lk.jpg" alt="">
                    </div>
                </div>
            </div>
            <p class="second-line">
                客服热线 <span class="time">09:00-19:00</span>
            </p>
            <p class="tel">0554-66666666</p>
        </div>
    </div>
</div>


</body>
</html>