<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的学习-课程进度卡片</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="course-progress-card">
    <div class="image">
        <span class="tag">热门</span>
        <a href="#">
            <img src="../../assets/images/course_img.png" alt="">
        </a>
    </div>
    <div class="title">
        <a href="#">
            极系列-H5全栈-Sz
        </a>
    </div>
    <div class="progress-pane">
        <div class="progress-bar">
            <div class="value" style="width: 10%"></div>
        </div>
    </div>
    <div class="progress-text">
        已学习1/10课时
    </div>
</div>

</body>
</html>