<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02-首页-轮播图</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="like-lb">
    <!--  1. 放图片的面板  -->
    <ul class="images">
        <li class="current"><a class="lb-bgc" href=""><img src="../../assets/images/banner-1.jpg" alt=""></a></li>
        <li><a class="lb-bgc" href=""><img src="../../assets/images/banner-2.jpg" alt=""></a></li>
        <li><a class="lb-bgc" href=""><img src="../../assets/images/banner-3.jpg" alt=""></a></li>
        <li><a class="lb-bgc" href=""><img src="../../assets/images/banner-4.jpg" alt=""></a></li>
        <li><a class="lb-bgc" href=""><img src="../../assets/images/banner-5.jpg" alt=""></a></li>
    </ul>
    <!--  2. 放标题的面板  -->
    <ul class="titles">
        <li class="current"><a href="">撩课-标题-1</a></li>
        <li><a href="">撩课-标题-2</a></li>
        <li><a href="">撩课-标题-3</a></li>
        <li><a href="">撩课-标题-4</a></li>
        <li><a href="">撩课-标题-5</a></li>
    </ul>
</div>

<script src="./grade.js"></script>
<script>
    window.addEventListener('load', function () {
        Grade(document.querySelectorAll('.lb-bgc'))
    })
</script>
<script>
    let currentIndex = 0;

    // 轮播图切换联动效果
    // 1. 获取所有的标题  以及  所有的 图片
    let titles = document.querySelectorAll(".like-lb>.titles>li");
    let images = document.querySelectorAll(".like-lb>.images>li")

    titles.forEach((title, index) => {
        title.onmouseover = function () {
            titles[currentIndex].className = ""
            images[currentIndex].className = ""

            title.className = "current"
            images[index].className = "current"

            currentIndex = index
        }
    })
</script>
</body>
</html>