<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>明星讲师组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="section bx">
    <div class="title-bar">
        <h5 class="title">- 明 . 星 . 讲 . 师 -</h5>
        <a href="#" class="more">更多&gt;</a>
    </div>
    <div class="container">
        <div class="teacher-card column3">
            <div class="left">
                <a href="">
                    <img class="t-header" src="../../assets/images/zsf.jpg" alt="">
                    <div class="t-name">张三丰</div>
                </a>
            </div>
            <div class="right">
                <div class="t-position">腾讯CEO</div>
                <div class="t-intro">张三丰，啥都会，厉害得很</div>
            </div>
        </div>
        <div class="teacher-card column3">
            <div class="left">
                <a href="">
                    <img class="t-header" src="../../assets/images/zsf.jpg" alt="">
                    <div class="t-name">张三丰</div>
                </a>
            </div>
            <div class="right">
                <div class="t-position">腾讯CEO</div>
                <div class="t-intro">张三丰，啥都会，厉害得很</div>
            </div>
        </div>
        <div class="teacher-card column3">
            <div class="left">
                <a href="">
                    <img class="t-header" src="../../assets/images/zsf.jpg" alt="">
                    <div class="t-name">张三丰</div>
                </a>
            </div>
            <div class="right">
                <div class="t-position">腾讯CEO</div>
                <div class="t-intro">张三丰，啥都会，厉害得很</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>