<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情-课程大纲</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="course-dg">
    <ul class="dg">
        <li>
            <span class="c-num">课时1: </span>
            <span class="c-progress finished"></span>
            <span class="c-title">Python爬虫-必备基础-概述</span>
            <a href="#" class="c-view">立即观看</a>
        </li>
        <li>
            <span class="c-num">课时1: </span>
            <span class="c-progress no-finish"></span>
            <span class="c-title">Python爬虫-必备基础-概述</span>
            <a href="#" class="c-view">立即观看</a>
        </li>
        <li>
            <span class="c-num">课时1: </span>
            <span class="c-progress"></span>
            <span class="c-title">Python爬虫-必备基础-概述</span>
            <a href="#" class="c-view">立即观看</a>
        </li>
        <li>
            <span class="c-num">课时1: </span>
            <span class="c-progress no-finish"></span>
            <span class="c-title">Python爬虫-必备基础-概述Python爬虫-必备基础-概述Python爬虫-必备基础-概述Python爬虫-必备基础-概述Python爬虫-必备基础-概述Python爬虫-必备基础-概述Python爬虫-必备基础-概述</span>
            <a href="#" class="c-view">立即观看</a>
        </li>
        <li>
            <span class="c-num">课时1: </span>
            <span class="c-progress"></span>
            <span class="c-title">Python爬虫-必备基础-概述</span>
            <a href="#" class="c-view">立即观看</a>
        </li>
    </ul>
</div>
</body>
</html>