<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师卡片组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="teacher-card">
    <div class="left">
        <a href="">
            <img class="t-header" src="../../assets/images/zsf.jpg" alt="">
            <div class="t-name">张三丰</div>
        </a>
    </div>
    <div class="right">
        <div class="t-position">腾讯CEO</div>
        <div class="t-intro">张三丰，啥都会，厉害得很</div>
    </div>
</div>
</body>
</html>