<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评价列表</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="comment-list">
    <div class="comment-title">
        评论
    </div>
    <div class="comment-items">
        <div class="comment-item">
            <div class="top">
                <img class="user-header" src="../../assets/images/zsf.jpg" alt="">
                <div class="message">
                    <div class="message-top">
                        <span class="user-name">撩课-sz</span>
                        <div class="star">
                            <div class="y_star" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="comment-time">
                        2022年10月22日 17:14:21
                    </div>
                </div>
            </div>
            <div class="content">
                课程真不错呀
            </div>
        </div>
        <div class="comment-item">
            <div class="top">
                <img class="user-header" src="../../assets/images/zsf.jpg" alt="">
                <div class="message">
                    <div class="message-top">
                        <span class="user-name">撩课-sz</span>
                        <div class="star">
                            <div class="y_star" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="comment-time">
                        2022年10月22日 17:14:21
                    </div>
                </div>
            </div>
            <div class="content">
                课程真不错呀
            </div>
        </div>
        <div class="comment-item">
            <div class="top">
                <img class="user-header" src="../../assets/images/zsf.jpg" alt="">
                <div class="message">
                    <div class="message-top">
                        <span class="user-name">撩课-sz</span>
                        <div class="star">
                            <div class="y_star" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="comment-time">
                        2022年10月22日 17:14:21
                    </div>
                </div>
            </div>
            <div class="content">
                课程真不错呀
            </div>
        </div>
        <div class="comment-item">
            <div class="top">
                <img class="user-header" src="../../assets/images/zsf.jpg" alt="">
                <div class="message">
                    <div class="message-top">
                        <span class="user-name">撩课-sz</span>
                        <div class="star">
                            <div class="y_star" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="comment-time">
                        2022年10月22日 17:14:21
                    </div>
                </div>
            </div>
            <div class="content">
                课程真不错呀
            </div>
        </div>
        <div class="comment-item">
            <div class="top">
                <img class="user-header" src="../../assets/images/zsf.jpg" alt="">
                <div class="message">
                    <div class="message-top">
                        <span class="user-name">撩课-sz</span>
                        <div class="star">
                            <div class="y_star" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="comment-time">
                        2022年10月22日 17:14:21
                    </div>
                </div>
            </div>
            <div class="content">
                课程真不错呀
            </div>
        </div>
    </div>
</div>

</body>
</html>