<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航栏-mini</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="navbar-mini">
    <div class="content bx">
        <div class="left">
            <h1 class="logo">
                <a href="#">撩学堂</a>
            </h1>
            <ul class="menu">
                <li class="current"><a href="#">讲师</a></li>
                <li><a href="#">课程</a></li>
                <li><a href="#">文章</a></li>
            </ul>
        </div>
        <div class="center">
            <form action="">
                <div class="search-bar">
                    <div class="category">
                        <label>
                            <select name="category">
                                <option value="all">全部</option>
                                <option value="course">课程</option>
                                <option value="teacher">讲师</option>
                                <option value="article">文章</option>
                            </select>
                        </label>
                    </div>
                    <div class="keyword">
                        <label>
                            <input type="text" placeholder="请输入搜索关键字" name="kw">
                        </label>
                    </div>
                    <div class="submit-btn">
                        <label>
                            <input type="submit" value="&#xe662;" class="iconfont">
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="right">
            <div class="intro">
                <div class="user">
                    <span class="nickname">用户昵称:sz</span>
                    <img class="header" src="../../assets/images/header.png" alt="">
                </div>
                <div class="operation-pane">
                    <ul class="operation">
                        <li><a href="#">撩课学院 - itlike.com</a></li>
                        <li>我的学习</li>
                        <li>设置</li>
                        <li class="exit">推出</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>