<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学院新闻组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="section bx">
    <div class="title-bar">
        <h5 class="title">- 学 . 院 . 新 . 闻 -</h5>
        <a href="#" class="more">更多&gt;</a>
    </div>
    <div class="container">
        <div class="news-card column2">
            <ul>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
            </ul>
        </div>
        <div class="news-card column2">
            <ul>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
                <li>
                    <a href="">撩课学院-机系列课程</a>
                    <span>2022年9月22日 12:12:00</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>